@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bio-dark text-slate-200 font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-bio-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
